
@{
    ViewData["Title"] = "Chart";
}
<header class="home">
    <section class="header-content">
        <img src="./images/mobile.png" class="rocky-dashed">
        <h1 class="header-title">QUẢN LÝ CỬA HÀNG BUÔN BÁN ĐIỆN THOẠI VÀ PHỤ KIỆN</h1>
        <h3 class="header-subtitle mt-2">Môn: Phương pháp phát triển phần mềm hướng đối tượng</h3>
        <div class="text-left text-light">
            <h4>- GVHD: Phạm Thi Vương</h4>
            <h4>- SV thực hiện:</h4>
            <div class="ml-3">
                <h6> + Nguyễn Tri Sinh 14520764</h6>
                <h6> + Nguyễn Lan Phương 14520719</h6>
                <h6> + Võ Thị Thúy Nga 14520571</h6>
                <h6> + Nguyễn Thanh Liêm 14520462</h6>
            </div>

        </div>
       
    </section>
</header>

<!--/.row-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
