@model MobileStore.Models.WarrantyDetail

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WarrantyDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Date)*@
            Ngày
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.DefectInfo)*@
            Thông tin lỗi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DefectInfo)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Trạng thái
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.WarrantyCard)*@
            Mã bảo hành
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarrantyCard.NumberOfWarranty)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WarrantyDetailID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
