@model MobileStore.Models.Customer
@using MobileStore.Models
@{
    ViewData["Title"] = "Thêm khách hàng";
}

<div class="row">
    <div class=" col-lg-8">
        <div class="card">
            <form asp-action="Create">
                <div class="card-header">
                    <strong>Thêm khách hàng</strong>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Name" class="col-md-4 form-control-label">Họ và Tên</label>
                        <div class="col-md-8">
                            <input asp-for="Name" type="text" class="form-control" placeholder="Nhập họ và tên khách hàng...">
                            <span asp-validation-for="Name" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Phone" class="col-md-4 form-control-label">Số điện thoại</label>
                        <div class="col-md-8">
                            <input asp-for="Phone" type="number" class="form-control" placeholder="Nhập sô điện thoại khách hàng..." />
                            <span asp-validation-for="Phone" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="select">Giới tính</label>
                        <div class="col-md-8">
                            <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Birthday" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Birthday)</label>
                        <div class="col-md-8">
                            <input asp-for="Birthday" class="form-control">
                            <span asp-validation-for="Birthday" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Address" class="col-md-4 form-control-label">@Html.DisplayNameFor(model => model.Address)</label>
                        <div class="col-md-8">
                            <input asp-for="Address" class="form-control" placeholder="Nhập @Html.DisplayNameFor(model => model.Address)...">
                            <span asp-validation-for="Address" class="invalid-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Country" class="col-md-4 form-control-label">Quốc gia</label>
                        <div class="col-md-8">
                            <input asp-for="Country" type="text" class="form-control" placeholder="Nhập quốc gia của khách hàng...">
                            <span asp-validation-for="Country" class="invalid-feedback"></span>
                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Tạo</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index"><button type="button" class="btn btn-primary"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
