@model MobileStore.Models.StockReceivingViewModels.StockReceivingViewModel
@using MobileStore.Models

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Nhap hang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="ModelFromSuppliers" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ModelFromSupplier.ModelFromSupplierID" />
            <div class="form-group">
                <label asp-for="ModelFromSupplier.Quantity" class="control-label"></label>
                <input asp-for="ModelFromSupplier.Quantity" class="form-control" />
                <span asp-validation-for="ModelFromSupplier.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelFromSupplier.PriceBought" class="control-label"></label>
                <input asp-for="ModelFromSupplier.PriceBought" class="form-control" />
                <span asp-validation-for="ModelFromSupplier.PriceBought" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelFromSupplier.PriceSold" class="control-label"></label>
                <input asp-for="ModelFromSupplier.PriceSold" class="form-control" />
                <span asp-validation-for="ModelFromSupplier.PriceSold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelFromSupplier.Date" class="control-label"></label>
                <input asp-for="ModelFromSupplier.Date" class="form-control" />
                <span asp-validation-for="ModelFromSupplier.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelFromSupplier.SupplierID" class="control-label"></label>
                <select asp-for="ModelFromSupplier.SupplierID" class="form-control" asp-items="ViewBag.SupplierID"></select>
                <span asp-validation-for="ModelFromSupplier.SupplierID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelFromSupplier.ModelID" class="control-label"></label>
                <select asp-for="ModelFromSupplier.ModelID" class="form-control" asp-items="ViewBag.ModelID"></select>
                <span asp-validation-for="ModelFromSupplier.ModelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
        <form asp-controller="Items" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.ModelFromSupplierID" value="@ViewBag.ModelFromSupplierID" />
            <input type="hidden" asp-for="Item.ModelID" value="@ViewBag.ModelItemID"/>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.IMEI" class="control-label"></label>
                <input asp-for="Item.IMEI" class="form-control" />
                <span asp-validation-for="Item.IMEI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.SerializerNumber" class="control-label"></label>
                <input asp-for="Item.SerializerNumber" class="form-control" />
                <span asp-validation-for="Item.SerializerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Note" class="control-label"></label>
                <input asp-for="Item.Note" class="form-control" />
                <span asp-validation-for="Item.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Item.Status" class="control-label"></label>
                @*<select asp-for="Item.Status" class="form-control"></select>*@
                <select asp-for="Item.Status" asp-items="Html.GetEnumSelectList<ItemStatus>()">
                    <option selected="selected" value="">Chọn trạng thái</option>
                </select>
                <span asp-validation-for="Item.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
