@model MobileStore.Models.WarrantyCard

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
@{
    ViewData["Title"] = "Create";
    var date = DateTime.Now.ToShortDateString();
}


<div class="row">
    <div class="col-lg-6" style="margin:auto">

        <div class="card">
            <form asp-action="Create" id="formWarrantyCards">
                <div class="card-header">Thêm Bảo Hành</div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="NumberOfWarranty" class="col-md-3 form-control-label">Số lần bảo hành</label>
                        <div class="col-md-9">
                            <input asp-for="NumberOfWarranty" class="form-control" readonly value="0"/>
                            <span asp-validation-for="NumberOfWarranty" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="StartDate" class="col-md-3 form-control-label">Ngày bắt đầu</label>
                        <div class="col-md-9">
                            <input asp-for="@date" class="form-control" name="dateStart"  readonly id="dateStart"/>
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="EndDate" class="col-md-3 form-control-label ">Ngày kết thúc</label>
                        <div class="col-md-9">
                            <input asp-for="@date" class="form-control" name="dateEnd" readonly id="dateEnd"/>
                            @*<input type="text" class="form-control" readonly id="dateEnd" value="@date"/>*@
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Period" class="col-md-3 form-control-label">Thời lượng bảo hành(tháng)</label>
                        <div class="col-md-9">
                            <input asp-for="Period" class="form-control"  placeholder="Nhập thời lượng bảo hành(tháng)" id="eventChangeInput"/>
                            <span asp-validation-for="Period" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ItemID" class="col-md-3 form-control-label">IMEI</label>
                        <div class="col-md-9">
                            <select asp-for="ItemID" class="form-control" asp-items="ViewBag.ItemID"></select>
                        </div>
                    </div>
                </div>
                
            </form>
            <div class="card-footer">
                @*<button  class="btn btn-primary" id="btnsubmit" onclick="clickButton()"><i class="fa fa-plus"></i> Tạo</button>*@
                <button class="btn btn-primary" onclick="clickButton()"><i class="fa fa-plus"></i> Tạo</button>
                @*<input type="submit" value="Create" class="btn btn-default" />*@
            </div>
            
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-success"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script type="text/javascript">

    $("#eventChangeInput").on("input", function () {
  

        var getmounth = 0;

        if ($("#eventChangeInput").val() != "")
        {

           getmounth = (new Date($("#dateStart").val())).getMonth() + 1 + parseInt($("#eventChangeInput").val());
        }
        else
        {
            getmounth = (new Date($("#dateStart").val())).getMonth() + 1;

        }

        
        var y = 0;
        
        var getyear = (new Date($("#dateStart").val())).getFullYear();

        var getdate = (new Date($("#dateStart").val())).getDate();

            while (getmounth > 12)
            {
                getyear = getyear + 1;

                getmounth = getmounth - 12;

            }
        

            var da = getmounth + "/" + getdate + "/" + getyear;
            $("#dateEnd").val(da);
        
    });

    function clickButton()
    {
        $("#formWarrantyCards").submit();

    }
</script>