@model MobileStore.Models.WarrantyCard

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-lg-6" style="margin:auto">

        <div class="card">
            <form asp-action="Create">
                <div class="card-header">Thêm Bảo Hành</div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="NumberOfWarranty" class="col-md-3 form-control-label">Mã Bảo Hành</label>
                        <div class="col-md-9">
                            <input asp-for="NumberOfWarranty" class="form-control" placeholder="Nhập mã bảo hành" />
                            <span asp-validation-for="NumberOfWarranty" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="StartDate" class="col-md-3 form-control-label">Ngày bắt đầu</label>
                        <div class="col-md-9">
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="EndDate" class="col-md-3 form-control-label ">Ngày kết thúc</label>
                        <div class="col-md-9">
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Period" class="col-md-3 form-control-label">Giai đoạn bảo hành</label>
                        <div class="col-md-9">
                            <input asp-for="Period" class="form-control" placeholder="Nhập giai đoạn bảo hành"/>
                            <span asp-validation-for="Period" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ItemID" class="col-md-3 form-control-label">Tên sản phẩm</label>
                        <div class="col-md-9">
                            <select asp-for="ItemID" class="form-control" asp-items="ViewBag.ItemID"></select>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Tạo</button>
                    @*<input type="submit" value="Create" class="btn btn-default" />*@
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">
        <button type="button" class="btn btn-success"><i class="fa fa-angle-left"></i>&nbsp; Trở về</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
